In [1]:
import pandas as pd
import geopandas as gpd

In [2]:
# Carrengando um complemento para visualizar quanto tempo demoram as tarefas

%load_ext autotime

In [3]:
df_iptu = pd.read_csv('IPTU/IPTU_2020.zip', \
                      compression='zip', encoding='iso-8859-9', \
                      sep=';', decimal=',')

In [4]:
df_iptu['SQLC'] = df_iptu['NUMERO DO CONTRIBUINTE'].str[0:10] + \
df_iptu['NUMERO DO CONDOMINIO'].str[0:2]

In [5]:
campos = ['SQLC',
         'NOME DE LOGRADOURO DO IMOVEL', 
         'NUMERO DO IMOVEL',
         'COMPLEMENTO DO IMOVEL',
         'CEP DO IMOVEL',
         'TIPO DE USO DO IMOVEL']

In [14]:
# df_iptu['NUMERO DO IMOVEL'] = df_iptu['NUMERO DO IMOVEL'][df_iptu['NUMERO DO IMOVEL'].notna()].astype(int)
df_iptu.loc[df_iptu['NUMERO DO IMOVEL'].isna(), 'NUMERO DO IMOVEL'] = 0
df_iptu = df_iptu.astype({'NUMERO DO IMOVEL':'int32'})
# df_iptu['numero_de_porta'] = df_iptu['NUMERO DO IMOVEL'][df_iptu['NUMERO DO IMOVEL'].notna()].astype('int32')

In [24]:
df_iptu['NOME DE LOGRADOURO DO IMOVEL'] = df_iptu['NOME DE LOGRADOURO DO IMOVEL'].str.title()

In [25]:
df_iptu['COMPLEMENTO DO IMOVEL'] = df_iptu['COMPLEMENTO DO IMOVEL'].str.title()

In [31]:
gdf_coords = gpd.read_file('resultados/lotes-por-pontos.gpkg')

In [39]:
gdf_coords['X'] = gdf_coords.geometry.x
gdf_coords['Y'] = gdf_coords.geometry.y

In [40]:
df_iptu[campos].merge(gdf_coords, on='SQLC', how='left')

,SQLC,NOME DE LOGRADOURO DO IMOVEL,NUMERO DO IMOVEL,COMPLEMENTO DO IMOVEL,CEP DO IMOVEL,TIPO DE USO DO IMOVEL,geometry,X,Y
0,001003000100,R S Caetano,13,NaN,01104-001,Loja,POINT (-46.63183 -23.53296),-46.631825,-23.532955
1,001003000100,R S Caetano,13,NaN,01104-001,Loja,POINT (-46.63286 -23.53436),-46.632863,-23.534357
2,001003000200,R S Caetano,19,NaN,01104-001,Loja,POINT (-46.63279 -23.53438),-46.632790,-23.534376
3,001003000300,R S Caetano,27,NaN,01104-001,Loja,POINT (-46.63272 -23.53438),-46.632722,-23.534379
4,001003000400,R S Caetano,33,NaN,01104-001,Loja,POINT (-46.63266 -23.53438),-46.632657,-23.534385
...,...,...,...,...,...,...,...,...,...
3508154,310118023801,Av Eng Armando De Arruda Pereira,1827,Ap 42,04309-011,Apartamento em condomínio,None,NaN,NaN
3508155,310118023901,Av Eng Armando De Arruda Pereira,1827,Ap 43,04309-011,Apartamento em condomínio,None,NaN,NaN
3508156,310118024001,Av Eng Armando De Arruda Pereira,1827,Ap 44,04309-011,Apartamento em condomínio,None,NaN,NaN
3508157,310119000100,R Cotipora,0,NaN,04317-060,Terreno,POINT (-46.63133 -23.64445),-46.631329,-23.644451
3508158,310120000100,R Ambores,0,NaN,04319-110,Terreno,None,NaN,NaN

In [27]:
df_iptu[campos].to_csv('resultados/sao-paulo-address-IPTU-2021.csv.gz', 
                       index=False, 
                       compression='gzip')

In [10]:
df_iptu.columns

Index(['NUMERO DO CONTRIBUINTE', 'ANO DO EXERCICIO', 'NUMERO DA NL',
       'DATA DO CADASTRAMENTO', 'TIPO DE CONTRIBUINTE 1',
       'CPF/CNPJ DO CONTRIBUINTE 1', 'NOME DO CONTRIBUINTE 1',
       'TIPO DE CONTRIBUINTE 2', 'CPF/CNPJ DO CONTRIBUINTE 2',
       'NOME DO CONTRIBUINTE 2', 'NUMERO DO CONDOMINIO', 'CODLOG DO IMOVEL',
       'NOME DE LOGRADOURO DO IMOVEL', 'NUMERO DO IMOVEL',
       'COMPLEMENTO DO IMOVEL', 'BAIRRO DO IMOVEL', 'REFERENCIA DO IMOVEL',
       'CEP DO IMOVEL', 'QUANTIDADE DE ESQUINAS/FRENTES', 'FRACAO IDEAL',
       'AREA DO TERRENO', 'AREA CONSTRUIDA', 'AREA OCUPADA',
       'VALOR DO M2 DO TERRENO', 'VALOR DO M2 DE CONSTRUCAO',
       'ANO DA CONSTRUCAO CORRIGIDO', 'QUANTIDADE DE PAVIMENTOS',
       'TESTADA PARA CALCULO', 'TIPO DE USO DO IMOVEL',
       'TIPO DE PADRAO DA CONSTRUCAO', 'TIPO DE TERRENO',
       'FATOR DE OBSOLESCENCIA', 'ANO DE INICIO DA VIDA DO CONTRIBUINTE',
       'MES DE INICIO DA VIDA DO CONTRIBUINTE', 'FASE DO CONTRIBUINTE',
       'SQLC'],
      dtype='object')

In [9]:
df_iptu['NOME DE LOGRADOURO DO IMOVEL'].str.split(expand=True).stack().value_counts()

R                2819050
DE                513244
AV                506628
DA                167653
DR                143987
                  ...
ARACATI-MIRIM          1
LETONIA                1
TAIO                   1
MENFIS                 1
PRISCA                 1
Length: 21859, dtype: int64